@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.font-2 {
  font-family: "Space Grotesk", sans-serif;
}

.svg-white {
  filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(107deg)
    brightness(105%) contrast(104%) !important;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.font-33 {
  font-family: "Roboto Slab", serif;
}

.ff {
  font-family: "Rubik", sans-serif;
}

.f1 {
  font-family: "Chivo", sans-serif;
}
.f2 {
  font-family: "Noto Sans", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.checkkkkkk span {
  width: 100% !important;
}
.checkkkkkk {
  width: 100%;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  z-index: 999999999999999 !important;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  z-index: 99999999999999999 !important;
}

.css-1sucic7 {
  z-index: 99999999999999999 !important;
}

.css-pcd4p5 .MuiSlider-rail {
  height: 4px !important;
}

.css-pcd4p5 .MuiSlider-thumb {
  width: 8px !important;
  height: 8px !important;
  margin-left: -8px !important;
  margin-top: -2px !important;
  border-width: 2px;
}

.css-pcd4p5 .MuiSlider-track {
  height: 4px !important;
}
.xyz {
  background-color: white !important;
  display: none;
}
.xyz:active {
  background-color: #006d77 !important;
}
.abc {
  background-color: #006d77 !important;
  display: none !important;
}
.trial {
  /* Font size */
  font-size: 16px;

  /* Extra-small screens font size */
  @media (max-width: 640px) {
    font-size: 12px;
  }

  /* Height */
  height: 40px;

  /* Medium screens right margin */
  @media (min-width: 768px) {
    margin-right: 10px;
  }

  /* Medium screens horizontal padding */
  @media (min-width: 768px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* Medium screens border-radius */
  @media (min-width: 768px) {
    border-radius: 10px;
  }

  /* Medium screens horizontal padding */
  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* Large screens right margin */
  @media (min-width: 1024px) {
    margin-right: 10px;
  }

  /* Border */
  border: 1px solid #cdcdcd;

  /* Medium screens vertical margin */
  @media (min-width: 768px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Background color */
  background-color: #fff;

  /* Large screens position */
  @media (min-width: 1024px) {
    position: relative;
  }

  /* Flex properties */
  display: flex;
  align-items: center;

  /* Transition duration */
  transition-duration: 10ms;

  /* Cursor */
  cursor: pointer;

  /* Horizontal padding */
  padding-left: 20px;
  padding-right: 20px;
}

.trial:active {
  background-color: #006d77 !important;
}

.bgcolor {
  background-color: #006d77 !important;
}
.txtcolor {
  color: #fff;
}

.trialcorner {
  /* Font size */
  font-size: 16px;

  /* Extra-small screens font size */
  @media (max-width: 640px) {
    font-size: 12px;
  }

  /* Height */
  height: 40px;

  /* Medium screens right margin */
  @media (min-width: 768px) {
    margin-right: 10px;
  }

  /* Medium screens horizontal padding */
  @media (min-width: 768px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* Medium screens border-radius */
  @media (min-width: 768px) {
    border-radius: 10px;
  }

  /* Medium screens horizontal padding */
  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* Large screens right margin */
  @media (min-width: 1024px) {
    margin-right: 10px;
  }

  /* Border */
  border: 1px solid #cdcdcd;

  /* Medium screens vertical margin */
  @media (min-width: 768px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Background color */
  background-color: #fff;

  /* Large screens position */
  @media (min-width: 1024px) {
    position: relative;
  }

  /* Flex properties */
  display: flex;
  align-items: center;

  /* Transition duration */
  transition-duration: 10ms;

  /* Cursor */
  cursor: pointer;

  /* Horizontal padding */
  padding-left: 20px;
  padding-right: 20px;

  /* Rounded corners */
  border-radius: 8px;
}

.text-body-lead {
  background-color: yellow;
  text-decoration: underline !important;
}
